#container {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  justify-items: center;
  align-content: center;
  row-gap: 10px;
  height: 60vh;
}

.item {
  grid-column: 2 / 3;
}

button {
  margin-top: 10px;
}

mat-form-field {
  width: 450px;
}
