<section>
  <form id="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="item">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControlName]="'email'" placeholder="Ex. Matt@example.com">
      <!-- <mat-hint>Feel free to use test@Gmail.com.</mat-hint> -->
      <mat-error>Not a valid email address.</mat-error>
    </mat-form-field>
    <mat-form-field class="item">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Ex. ABC123">
      <!-- <mat-hint>Feel free to use 123456.</mat-hint> -->
      <mat-error>Not a valid password.</mat-error>
    </mat-form-field>
    <div class="item">
      <mat-checkbox [formControlName]="'notRobot'" required>I am not a robot.</mat-checkbox>
    </div>
    <button type="submit" mat-raised-button class="item" [disabled]="!loginForm.valid" *ngIf="!isLoading">Submit</button>
  </form>
</section>
