mat-card {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
}

.create-article {
  grid-column: 2 / 3;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.imgPreview {
  max-width: 250px;
}

button {
  width: min-content;
}
