<mat-toolbar color="primary">
  <a routerLink="/article">My Blog</a>
  <ul id="navContainer">
    <li routerLink="/login"*ngIf="!isAuth"><a>Login</a></li>
    <li *ngIf="isAuth" (click)="onLogout()"><a>Logout</a></li>
    <li routerLink="/dashboard" *ngIf="isAuth"><a>New Post</a></li>
    <li><a>Start a Project</a></li>
    <li><a href="#">Home</a></li>
  </ul>
  <!-- <mat-toolbar-row class="spacer"></mat-toolbar-row> -->
  <!-- <div *ngIf="auth.afAuth.authState | async as user; else showLogin"></div>
    <span>Hello {{ user.displayName }}</span>
    <button mat-button>Logout</button> -->
</mat-toolbar>
