<mat-toolbar color="primary">

  <a routerLink="/article">Sports Web Design</a>
  <ul id="navContainer">
    <li routerLink="/login"*ngIf="!isAuth"><a>Login</a></li>
    <li *ngIf="isAuth" (click)="onLogout()"><a>Logout</a></li>
    <li routerLink="/dashboard" *ngIf="isAuth"><a>New Post</a></li>
    <li><a>Start a Project</a></li>
    <li><a href="#">Home</a></li>
  </ul>
  <div class="smallScreen">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- <mat-toolbar-row class="spacer"></mat-toolbar-row> -->
  <!-- <div *ngIf="auth.afAuth.authState | async as user; else showLogin"></div>
    <span>Hello {{ user.displayName }}</span>
    <button mat-button>Logout</button> -->
</mat-toolbar>
