#navContainer {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
  margin: 15px;
}

a:hover, a:active {
  color: darkgray;
  cursor: pointer;
}

li:focus {
  display: none;
  border: none;
}

.smallScreen {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 599px) {
  #navContainer {
    display: none;
  }
}

@media (min-width: 599px) {
  .smallScreen {
    display: none;
  }
}
