#navContainer {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.navigation:hover, .navigation:active {
  color: darkgray;
  cursor: pointer;
}

li:focus {
  display: none;
  border: none;
  cursor: pointer;
}

.smallScreen {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

#login {
  margin-right: 25%;
  cursor: default;
  opacity: 0;
  /* color: transparent; */
}

#login:hover {
  opacity: 10;
  color: blue;
}

@media (max-width: 599px) {
  #navContainer {
    display: none;
  }
}

@media (min-width: 599px) {
  .smallScreen {
    display: none;
  }
}
